<ol>
    <p>Zmieniasz: {{task.todo}}
    <form class="form" method="POST" action="/{{task.id}}?_method=PATCH">
        <input name="todo">
        <button type="submit" class="saveBtn">zapisz</button>
    </form>
    </p>

</ol>